<%= render 'shared/errors', object: @article%>
<%= form_for @article do |f|%>
    <div class="form-group row">
    <%= f.label :title, class: "col-sm-2 col-form-label", for: "inputTitle"%><br/>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", id: "inputTitle"%>
    </div>
  </div>
      <div class="form-group row">
    <%= f.label :description, class: "col-sm-2 col-form-label", for: "inputDescription" %><br/>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control", rows: 10, id: "inputDescription" %>
    </div>
    </div>
  <div class="form-group row">
       <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <%= f.button class: "btn btn-primary btn-lg", type: "submit" %>
    </div>
  </div>

<% end %>

 <div class="col-xs-4 col-xs-offset-4">
	[ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
</div>
