<h1>List of users</h1>
<div align="center">
<%= will_paginate%>
</div>
<ul class="list-group">
  <% @users.each do |user|%>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <%= link_to user.username, user_path(user) %>
    <span class="badge badge-primary badge-pill"><%= user.articles.count%></span>
  </li>
  <% if logged_in? && current_user.admin? %>
  <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<%end%>
</ul>
<div align="center">
<%= will_paginate%>
</div>